@import 'flexbox'; 
@import 'breakpoints';

.App {
    text-align: center;
    height: 600px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(173,173,173,1);
    -moz-box-shadow: 0px 5px 10px 1px rgba(173,173,173,1);
    box-shadow: 0px 5px 10px 1px rgba(173,173,173,1);
    @include md-below-screen{
      height: 100vh;
      width: 100vw;
      border-radius: 0;
      background-color: hsl(206, 94%, 87%);
    }
    @include md-lg-screen{
      width: 95vw;
    }
    @include lg-above-screen{
      width: 960px;
    }
    max-width: 1300px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    *{
        box-sizing: border-box;
    }
    @include flexbox('', '', center);
    @include md-below-screen{
      padding: 0;
      flex-direction: column;
    }
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.selected{
  background-color: hsl(206, 94%, 87%);
  border-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}

button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
  