.appBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appBody .formBody {
  height: 100%;
  width: 75%;
  box-sizing: border-box;
  margin-top: 2rem;
}
@media only screen and (min-width: 720px) and (max-width: 840px) {
  .appBody .formBody {
    max-width: 80%;
  }
}
@media only screen and (max-width: 720px) {
  .appBody .formBody {
    background-color: #fff;
    border-radius: 1rem;
    position: absolute;
    height: auto;
    width: 80%;
    padding: 2rem;
    box-shadow: 0px 5px 10px 1px rgb(173, 173, 173);
    min-height: 50%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .appBody .formBody {
    top: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .appBody .formBody {
    width: 90%;
    top: 75px;
  }
}
.appBody .formBody .stepHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}
.appBody .formBody .stepHead .headH1 {
  font-size: 32px;
  font-weight: 600;
  color: hsl(213deg, 96%, 18%);
  margin-bottom: 0.5rem;
}
.appBody .formBody .stepHead .headInfo {
  opacity: 0.3;
  font-size: 0.9rem;
  text-align: left;
}
.appBody .formBody .stepBody {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media only screen and (min-width: 720px) {
  .appBody .formBody .stepBody {
    margin-top: 2rem;
  }
}
.appBody .formBody .stepBody .step1Inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  color: hsl(213deg, 96%, 18%);
}
.appBody .formBody .stepBody .step1Inputs label {
  margin-top: 0.5rem;
}
.appBody .formBody .stepBody .step1Inputs input {
  outline: none;
  padding: 16px;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid rgba(128, 128, 128, 0.616);
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
  color: hsl(213deg, 96%, 18%);
  font-weight: 700;
}
.appBody .formBody .stepBody .step1Inputs input:focus {
  border-color: hsl(213deg, 96%, 18%);
}
.appBody .formBody .stepBody .squareArea {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.appBody .formBody .stepBody .squareArea .square {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  margin-top: 0.5rem;
  border: 2px solid rgba(201, 201, 201, 0.616);
  font-size: 1rem;
  color: hsl(213deg, 96%, 18%);
  border-radius: 8px;
  padding: 1rem 1rem;
}
@media only screen and (max-width: 720px) {
  .appBody .formBody .stepBody .squareArea .square {
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
  .appBody .formBody .stepBody .squareArea .square {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.appBody .formBody .stepBody .squareArea .square:hover {
  border-color: hsla(213deg, 96%, 18%, 0.411);
}
.appBody .formBody .stepBody .squareArea .square .squareTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (max-width: 960px) {
  .appBody .formBody .stepBody .squareArea .square .squareTexts {
    margin-left: 1rem;
  }
}
@media only screen and (min-width: 960px) {
  .appBody .formBody .stepBody .squareArea .square .squareTexts * {
    margin-bottom: 0.5rem;
  }
}
.appBody .formBody .stepBody .squareArea .square .squareTexts .squareName {
  font-weight: 700;
}
.appBody .formBody .stepBody .squareArea .square .squareTexts .squarePrice {
  opacity: 0.8;
  font-size: 0.9rem;
  font-weight: 100;
}
.appBody .formBody .stepBody .squareArea .square .squareTexts .squareMsg {
  font-size: 0.8rem;
  font-weight: normal;
}
.appBody .formBody .stepBody .squareArea .selected {
  border-color: hsla(213deg, 96%, 18%, 0.411);
}
.appBody .formBody .stepBody2 {
  justify-content: space-between;
}/*# sourceMappingURL=appBody.css.map */