@import 'flexbox';
@import 'breakpoints'; 

.appBody{
    flex: 1;
    // background-color: #00000049;
    @include flexbox(column, center, center);

    .formBody{
        height: 100%;
        width: 75%;
        box-sizing: border-box;
        @media only screen and (min-width: 720px) and (max-width: 840px){
            max-width: 80%;
        }
        margin-top: 2rem;
        @include md-below-screen{
            background-color: #fff;
            border-radius: 1rem;
            position: absolute;
            height: auto;
            width: 80%;
            padding: 2rem;
            -webkit-box-shadow: 0px 5px 10px 1px rgba(173,173,173,1);
            -moz-box-shadow: 0px 5px 10px 1px rgba(173,173,173,1);
            box-shadow: 0px 5px 10px 1px rgba(173,173,173,1);
            min-height: 50%;
        }
        @include sm-md-screen{
            top: 100px;
        }
        @include sm-below-screen{
            width: 90%;
            top: 75px;
        }
        .stepHead{
            @include flexbox(column, flex-start, center);
            margin-bottom: 1rem;
            .headH1{
                font-size: 32px;
                font-weight: 600;
                color: hsl(213, 96%, 18%);
                margin-bottom: 0.5rem;
            }
            .headInfo{
                opacity: 0.3;
                font-size: 0.9rem;
                text-align: left;
            }
        }
        .stepBody{
            height: 50%;
            width: 100%;
            @include md-above-screen{
                margin-top: 2rem;
            }
            color: hsl(213, 96%, 18%);
            @include flexbox(column, flex-start, center);
            .step1Inputs{
                @include flexbox(column, flex-start, center);
                width: 100%;
                color: hsl(213, 96%, 18%);
                label{
                    margin-top: 0.5rem;
                }
                input{
                    outline: none;
                    padding: 16px;
                    border-radius: 8px;
                    box-shadow: none;
                    // border: none;
                    border: 1px solid rgba(128, 128, 128, 0.616);
                    width: 100%;
                    margin: 0.5rem 0;
                    font-size: 1rem;
                    color: hsl(213, 96%, 18%);
                    font-weight: 700;
                    &:focus{
                        border-color: hsl(213, 96%, 18%);
                    }
                }
            }
            .squareArea{
                @include flexbox(row, space-between, space-between);
                flex-wrap: wrap;
                width: 100%;
                .square{
                    // height: 50px;
                    width: 200px;
                    @include flexbox(row, flex-start, flex-start);
                    @include md-below-screen{
                        width: 100%;
                    }
                    @include lg-above-screen{
                        height: 200px;
                        width: 150px;
                        @include flexbox(column, flex-start, space-between);
                    }
                    cursor: pointer;
                    &:hover{
                        border-color: hsla(213, 96%, 18%, 0.411);
                    }
                    margin-top: 0.5rem;
                    border: 2px solid rgba(201, 201, 201, 0.616);
                    font-size: 1rem;
                    
                    border-radius: 8px;
                    padding: 1rem 1rem;
                    .squareTexts{
                        @include flexbox(column, flex-start, space-between);
                        @include lg-below-screen{
                            margin-left: 1rem;
                        }
                        *{
                            @include lg-above-screen{
                                margin-bottom: 0.5rem;
                            }
                        }
                        .squareName{
                            font-weight: 700;
                        }
                        .squarePrice{
                            opacity: 0.8;
                            font-size: 0.9rem;
                            font-weight: 100;
                        }
                        .squareMsg{
                            font-size: 0.8rem;
                            font-weight: normal;
                        }
                    }
                }
                .step3Square{
                    width: 100%;
                    flex-direction: row;
                    align-items: center;
                    height: auto;
                    .squarePrice{
                        flex: 1;
                    }
                    .step3Checkbox{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        @include sm-below-screen{
                            width: 16px;
                            height: 16px;
                        }
                    }
                    .squareTexts{
                        flex: 8;
                        margin: 0;
                        padding-left: 1rem;
                        @include sm-below-screen{
                            padding-left: 0.5rem;
                        }
                        text-align: left;
                        .squareName, .squareMsg{
                            margin-bottom: 0.2rem;
                        }
                        .squareMsg{
                            opacity: 0.5;
                        }
                    }
                    .squarePrice{
                        font-size: 0.8rem;
                        opacity: 0.9;
                    }
                    @include sm-below-screen{
                        padding: 1rem 0.5rem;
                    }
                }
                .selected{
                    border-color: hsla(213, 96%, 18%, 0.411);
                }
            }
            .description, .totalDiv{
                width: 100%;
            }
            .description{
                    @include flexbox(column, center, center);
                    padding: 1.5rem;
                    border-radius: 1rem;
                    background-color: hsl(217, 100%, 97%);
                    .subscriptionPlan{
                        width: 100% ;
                        @include flexbox(row, center, space-between);
                        .planTexts{
                            @include flexbox(column, flex-start, center);
                            .planName{
                                font-weight: 700;
                                margin-bottom: 0.2rem;
                            }
                            .planChange{
                                font-size: 0.9rem;
                                opacity: 0.5;
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                        .squarePrice{
                            font-weight: 700;
                        }
                        padding-bottom: 1.2rem;
                        border-bottom: 1px solid rgba(201, 201, 201, 0.363);
                    }
                    .details{
                        @include flexbox(column, center, center);
                        width: 100%;
                        padding-top: 0.5rem;
                        .detailInfo{
                            width: 100%;
                            @include flexbox(row, center, space-between);
                            padding: 0.5rem 0;
                            font-size: 0.9rem;
                            opacity: 0.5;
                        }
                        & :last-child{
                            // background-color: red;
                            padding-bottom: 0;
                        }
                    }
            }
            .totalDiv{
                padding: 1.5rem;
                @include flexbox(row, center, space-between);
                .total{
                    opacity: 0.5;
                }
                .totalPrice{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: hsl(243, 100%, 62%);
                }
            }
        }
        .stepBody2{
            justify-content: space-between;
        }
        .monthYearSwitch{
            width: 100%;
            @include flexbox(row, center, center);
            @include lg-below-screen{
                margin: 1rem 0;
            }
            font-size: 0.9rem;
            #month, #year{
                margin: 0 1rem;
            }
        }
    }
    .step5{
        @include flexbox(row, center, center);
        margin-top: 0;
        .thankYouDiv{
            width: 100%;
            @include flexbox(column, center, center);
            img{
                margin-bottom: 1rem;
            }
            .thankYouHead{
                margin: 1rem 0;
                font-size: 1.5rem;
                font-weight: 700;
            }
            .thankYouMsg{
                @include flexbox(column, center, center);
                opacity: 0.5;
            }
        }
    }
}

