.appBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appBody .formBody {
  height: 100%;
  width: 75%;
  box-sizing: border-box;
  margin-top: 2rem;
}
@media only screen and (min-width: 720px) and (max-width: 840px) {
  .appBody .formBody {
    max-width: 80%;
  }
}
@media only screen and (max-width: 720px) {
  .appBody .formBody {
    background-color: #fff;
    border-radius: 1rem;
    position: absolute;
    height: auto;
    width: 80%;
    padding: 2rem;
    box-shadow: 0px 5px 10px 1px rgb(173, 173, 173);
    min-height: 50%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .appBody .formBody {
    top: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .appBody .formBody {
    width: 90%;
    top: 75px;
  }
}
.appBody .formBody .stepHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}
.appBody .formBody .stepHead .headH1 {
  font-size: 32px;
  font-weight: 600;
  color: hsl(213, 96%, 18%);
  margin-bottom: 0.5rem;
}
.appBody .formBody .stepHead .headInfo {
  opacity: 0.3;
  font-size: 0.9rem;
  text-align: left;
}
.appBody .formBody .stepBody {
  height: 50%;
  width: 100%;
  color: hsl(213, 96%, 18%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media only screen and (min-width: 720px) {
  .appBody .formBody .stepBody {
    margin-top: 2rem;
  }
}
.appBody .formBody .stepBody .step1Inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  color: hsl(213, 96%, 18%);
}
.appBody .formBody .stepBody .step1Inputs label {
  margin-top: 0.5rem;
}
.appBody .formBody .stepBody .step1Inputs input {
  outline: none;
  padding: 16px;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid rgba(128, 128, 128, 0.616);
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}
.appBody .formBody .stepBody .step1Inputs input:focus {
  border-color: hsl(213, 96%, 18%);
}
.appBody .formBody .stepBody .squareArea {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.appBody .formBody .stepBody .squareArea .square {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  margin-top: 0.5rem;
  border: 2px solid rgba(201, 201, 201, 0.616);
  font-size: 1rem;
  border-radius: 8px;
  padding: 1rem 1rem;
}
@media only screen and (max-width: 720px) {
  .appBody .formBody .stepBody .squareArea .square {
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
  .appBody .formBody .stepBody .squareArea .square {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.appBody .formBody .stepBody .squareArea .square:hover {
  border-color: hsla(213, 96%, 18%, 0.411);
}
.appBody .formBody .stepBody .squareArea .square .squareTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (max-width: 960px) {
  .appBody .formBody .stepBody .squareArea .square .squareTexts {
    margin-left: 1rem;
  }
}
@media only screen and (min-width: 960px) {
  .appBody .formBody .stepBody .squareArea .square .squareTexts * {
    margin-bottom: 0.5rem;
  }
}
.appBody .formBody .stepBody .squareArea .square .squareTexts .squareName {
  font-weight: 700;
}
.appBody .formBody .stepBody .squareArea .square .squareTexts .squarePrice {
  opacity: 0.8;
  font-size: 0.9rem;
  font-weight: 100;
}
.appBody .formBody .stepBody .squareArea .square .squareTexts .squareMsg {
  font-size: 0.8rem;
  font-weight: normal;
}
.appBody .formBody .stepBody .squareArea .step3Square {
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: auto;
}
.appBody .formBody .stepBody .squareArea .step3Square .squarePrice {
  flex: 1;
}
.appBody .formBody .stepBody .squareArea .step3Square .step3Checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .appBody .formBody .stepBody .squareArea .step3Square .step3Checkbox {
    width: 16px;
    height: 16px;
  }
}
.appBody .formBody .stepBody .squareArea .step3Square .squareTexts {
  flex: 8;
  margin: 0;
  padding-left: 1rem;
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .appBody .formBody .stepBody .squareArea .step3Square .squareTexts {
    padding-left: 0.5rem;
  }
}
.appBody .formBody .stepBody .squareArea .step3Square .squareTexts .squareName, .appBody .formBody .stepBody .squareArea .step3Square .squareTexts .squareMsg {
  margin-bottom: 0.2rem;
}
.appBody .formBody .stepBody .squareArea .step3Square .squareTexts .squareMsg {
  opacity: 0.5;
}
.appBody .formBody .stepBody .squareArea .step3Square .squarePrice {
  font-size: 0.8rem;
  opacity: 0.9;
}
@media only screen and (max-width: 480px) {
  .appBody .formBody .stepBody .squareArea .step3Square {
    padding: 1rem 0.5rem;
  }
}
.appBody .formBody .stepBody .squareArea .selected {
  border-color: hsla(213, 96%, 18%, 0.411);
}
.appBody .formBody .stepBody .description, .appBody .formBody .stepBody .totalDiv {
  width: 100%;
}
.appBody .formBody .stepBody .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: hsl(217, 100%, 97%);
}
.appBody .formBody .stepBody .description .subscriptionPlan {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid rgba(201, 201, 201, 0.363);
}
.appBody .formBody .stepBody .description .subscriptionPlan .planTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.appBody .formBody .stepBody .description .subscriptionPlan .planTexts .planName {
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.appBody .formBody .stepBody .description .subscriptionPlan .planTexts .planChange {
  font-size: 0.9rem;
  opacity: 0.5;
  text-decoration: underline;
  cursor: pointer;
}
.appBody .formBody .stepBody .description .subscriptionPlan .squarePrice {
  font-weight: 700;
}
.appBody .formBody .stepBody .description .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 0.5rem;
}
.appBody .formBody .stepBody .description .details .detailInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  opacity: 0.5;
}
.appBody .formBody .stepBody .description .details :last-child {
  padding-bottom: 0;
}
.appBody .formBody .stepBody .totalDiv {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.appBody .formBody .stepBody .totalDiv .total {
  opacity: 0.5;
}
.appBody .formBody .stepBody .totalDiv .totalPrice {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(243, 100%, 62%);
}
.appBody .formBody .stepBody2 {
  justify-content: space-between;
}
.appBody .formBody .monthYearSwitch {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}
@media only screen and (max-width: 960px) {
  .appBody .formBody .monthYearSwitch {
    margin: 1rem 0;
  }
}
.appBody .formBody .monthYearSwitch #month, .appBody .formBody .monthYearSwitch #year {
  margin: 0 1rem;
}
.appBody .step5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.appBody .step5 .thankYouDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appBody .step5 .thankYouDiv img {
  margin-bottom: 1rem;
}
.appBody .step5 .thankYouDiv .thankYouHead {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.appBody .step5 .thankYouDiv .thankYouMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}/*# sourceMappingURL=appBody.css.map */