@import 'flexbox';
@import 'breakpoints'; 

.sidebar{
    @include md-below-screen{
        display: none;
    }
    .dummyImg1{
        width: auto;
        height: 100%;
        visibility: hidden;
    }
    color: #fff;
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    background-position: center;
    background-size: contain;
    position: relative;
    .sidebarContainer{
        height: 50%;
        position: absolute;
        @include flexbox(column, center, flex-start);
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .sidebarItem{
        height: 50px;
        width: 100%;
        @include flexbox('', center, flex-start);
        margin: 4px 0;
        // background-color: rgba(0, 0, 0, 0.185);


        .sidebarTexts{
            @include flexbox(column, flex-start, center);
            .sidebarText1{
                font-size: 0.8rem;
                font-weight: lighter;
                opacity: 0.8;
            }
            .sidebarText2{
                font-weight: bold;
            }
        }
    }
}

.sidebarBullet{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    @include flexbox('', center, center);
    margin: 0 1rem; 
}
.sidebarBullet{
    border: 2px solid #ffffff9a;
}

.topbar{
    @include md-above-screen{
        display: none;
    }
    color: #fff;
    background-image: url('../assets/images/bg-sidebar-mobile.svg');
    background-position: center;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    .topbarContainer{
        position: absolute;
        @include flexbox('', center, center);
        width: 250px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        // background-color: rgba(0, 0, 0, 0.247);
    }
    .dummyImg2{
        width: 100%;
        height: auto;
        visibility: hidden;
    }
}